language: android
android:
  components:
    - tools
    - build-tools-27.0.3
    - android-28
before_script:
  - curl https://kaltura.github.io/fe-tools/android/license.sh | sh
script:
  - ./gradlew tvplayer:build
after_failure:
  - cat tvplayer/build/outputs/lint-results-debug.xml
notifications:
  email:
    recipients:
      - noam.tamim@kaltura.com
      - gilad.nadav@kaltura.com
      - gourav.saxena@kaltura.com
    on_success: always
    on_failure: always
